{% load cms_tags menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "styles/master.css" %}"/>
    {% render_block "css" %}
</head>
<body>
    <script async="" src="/browser-sync/browser-sync-client.1.8.3.js"></script>
    {% cms_toolbar %}
    <div>
        <ul class="nav">
            {% show_menu 0 100 100 100 %}
        </ul>
        {% block content %}{% endblock %}
    </div>
    {% render_block "js" %}
</body>
</html>
